body{
	background-color: lavender;
	width: 102%;
}
.container{
	background-color: black;
	height:200px;
	width: 102%;
	margin-left: -10px;
	margin-right:-100px;
}
a{
	padding: 15px;
	color: white;
}
.container2{
width: 70%;
background-color: white;
margin-left: 15%;
margin-top: -90px;
}
.more-info1{
width: 70%;
background-color: white;
margin-left: 15%;

}

.more-info2{
width: 70%;
background-color: white;
margin-left: 15%;
}
button{
	background-color: white;
	color:yellow;
	font-weight: bold;
	font-family: verdana;
}
